---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="SISGOADEM" id="intro">

  <Fragment slot="lead">
    Facilitaremos un sistema de gestion que sera operado desde diferentes
    <span class="text-primary">dispositivos</span> del.
    <span class="text-primary">restaurante,</span>
    donde a traves de unos dispositivos moviles y web que seran manipulados por un 
    <span class="text-primary">administrador, usuarios y empleados </span> 
    con la finalidad de aumentar la calidad y eficiencia del servicio. 
  </Fragment>
  <div>
    <a
      href="https://github.com/MariaPaula08/api_sisgoadem"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
                                                                         
      <span>Read the docs</span>
    </a>
  
  </div>
</ContentSection>
